body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: url(/imgs/4k-wallpaper-blue-sky-blur-281260.jpg) no-repeat;
  background-size: cover;
  margin:0px;
  padding:0px;
}

html{
  height: 100%;
}

form{
  padding:30px;
  margin: 60px auto auto auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}